/* Body style */
body {
    padding: 0px;
    height: 100%;
    width: 50%;
    margin: 0px;
    text-align: center;
    color: aliceblue;
    
    overflow-x: hidden;
}

/* body {
    padding: 10px;
    max-width: 50%;
    margin: auto;
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
    overflow-x: hidden;
} */

/* Footer style */
.bg-dark {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;                         
}

/* Background style */
.bg-img {
    background-position: top;
    background-size: cover;
    background-attachment: fixed ;
}
  
/* Headers style */
h1, h2 {
    color: aliceblue;
}

/* Create Listing page style */
.create_listing {
    text-align: left;  
}  

/* Create Listing Text fields style */
.create_listing input[type="text"] {
    width: 100%;
    text-align: left;
}

/* Create Listing number fields style */
.create_listing input[type="number"]  {
    width: 100%;
    text-align: right;
}

/* Create Listing description/comment field style */
#id_description, #id_comment {
    height: 150px;
    width: 100%;
}

/* Create Listing button */
.create_listing input[type="submit"] {
    text-align: center;
    width: 100%;
}   

/* Categories list style */
.categories {
    display: block;
    text-align: left;
}

/* Comment input text style */
#comment input[type="text"] {
    width: 100%;
}

/* Listing bid input style */
.form-group input[type="number"] {
    margin-left: 10px;
    width: 50%;
    text-align: right;
}