body {
    padding: 10px;
    max-width: 30%;
    margin: auto;
    text-align: center;
    color: aliceblue;
    margin-bottom: 50px;
}

/* Footer style */
.bg-dark {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;                         
}

/* Background style */
.bg-img {
    background-position: top;
    background-size: cover;
    background-attachment: fixed ;
}
  
h1, h2 {
    color: aliceblue;
}

/* Create Listing page style */
.create_listing {
    text-align: left;  
}  

/* Create Listing Text fields style */
.create_listing input[type="text"] {
    width: 100%;
    text-align: left;
}

/* Create Listing number fields style */
.create_listing input[type="number"]  {
    width: 100%;
    text-align: right;
}

/* Create Listing description field style */
#id_description {
    height: 100px;
    width: 100%; 
}

/* Create Listing button */
.create_listing input[type="submit"] {
    width: 100%;
}   
