body {
    padding: 10px;
    background-color: rgb(48, 35, 228);
    max-width: 30%;
    margin: auto;
    text-align: center;
}

.bg-dark {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;                         
}

.bg-img {
    /* Center and scale the image nicely */
    background-position: top;
    background-size: cover;
    background-attachment: fixed ;
    
  
}
  
h1, h2 {
    color: aliceblue;
}

body {
    color: aliceblue;
}